
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    height: 2%;
}
h2{
    height: 3%;
}

main div{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 50vh;
    width: 100%;
}

main div div{
    width: 16em;
    background-color: red;
    height: 20vh;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgb(49, 49, 49);
}

.yellow{
    background-color: yellow;
    rotate: -3deg;
}

.purple{
    background-color: purple;
    rotate: -7deg;

}

.green{
    background-color: green;
    rotate: 10deg;
}

main div div:hover{
    rotate: 0deg;
    transition: linear;
    transition-duration: 0.1s;
    scale: 1.1 1.1;
}