body{
    background-color: blueviolet;
    color: aliceblue;
}

div{
    margin: 0 auto;
    width: 50%;
}

fieldset{
    background-color: black;
    text-align: center;
    border: 0;
    font-size: large;
    margin-top: 20%;
}

ul li{
    background-color: green;
    width: 50%;
    margin: 0 auto;
}

.btnDestra{
    padding: 0,2em;
    margin-left: 31em;
}

.sbarra{
    text-decoration: line-through;
}